---
import Layout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';
---

<Layout title="Welcome to Astro.">
  <header
    class="flex flex-col sm:flex-row items-start gap-2 sm:gap-0 sm:items-center justify-between px-2"
  >
    <h1 class="font-semibold text-4xl tracking-tight">Code of power</h1>
    <a href="/about" class="text-xs italic hover:underline"
      >By Adrian Gajdulewicz</a
    >
  </header>
  <PostList />
</Layout>
