---
import Layout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';
---

<Layout title="Welcome to Astro.">
  <header
    class="flex flex-col sm:flex-row items-start sm:items-center justify-between px-2"
  >
    <h1 class="font-extrabold text-5xl tracking-tight">Code of Power</h1>
    <a href="/about" class="text-xs font-medium hover:underline"
      >by Adrian Gajdulewicz</a
    >
  </header>
  <PostList />
</Layout>
