---
import GithubIcon from './svg/Github.astro';
import LinkedinIcon from './svg/Linkedin.astro';
---

<footer class="h-24 grid place-items-center">
  <div class="w-full mx-auto px-4 max-w-xl flex items-center justify-between">
    <span class="flex font-medium flex-col">&copy;2024 CoP inc.</span>
    <div class="flex items-center justify-center gap-4">
      <GithubIcon />
      <LinkedinIcon />
    </div>
  </div>
</footer>
