---
const { pathname } = Astro.url;
import { cn } from '../lib/utils';
console.log(pathname);
---

<header class="bg-black py-8 text-white text-lg">
  <nav class="sm:w-[36rem] mx-auto">
    <div class="flex items-center justify-between px-4">
      <a href="/" class="flex flex-col items-start justify-between px-2">
        <h1 class="font-extrabold font-logo leading-6 text-4xl">
          Code of Power
        </h1>
        <span class="text-xs pl-4 font-medium hover:underline"
          >by Adrian Gajdulewicz</span
        >
      </a>

      <ul class="flex gap-4 items-center justify-center py-2 text-base">
        <li>
          <a
            href="/"
            class={cn('transition-all', {
              'font-semibold': pathname === '/',
            })}>Home</a
          >
        </li>
        <li>
          <a
            href="/about"
            class={cn('transition-all', {
              'font-semibold': pathname === '/about',
            })}>About</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
