<header class="flex flex-col items-start justify-between px-2">
  <h1 class="font-extrabold text-5xl tracking-tight">Code of Power</h1>
  <a href="/about" class="text-xs pl-4 font-medium hover:underline"
    >by Adrian Gajdulewicz</a
  >
</header>
