---
interface Props {
  title: string;
  description: string;
  date: Date;
  slug: string;
}

const { description, title, date, slug } = Astro.props;
const formattedDate = date.toLocaleDateString('en-US', {
  day: '2-digit',
  month: 'short',
  year: 'numeric',
});
---

<li class="[&:not(:last-child)]:border-b">
  <article class="px-2 py-8 space-y-2 hover:scale-[1.01] transition-all">
    <a href={`/posts/${slug}`}>
      <header
        class="flex flex-col sm:flex-row items-start sm:items-center justify-between"
      >
        <h2
          transition:name="test"
          class="text-2xl truncate font-medium tracking-tight"
        >
          {title}
        </h2>
        <date class="text-sm">{formattedDate}</date>
      </header>
      <p class="text-zinc-500 line-clamp-2">{description}</p>
    </a>
  </article>
</li>
