---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { cn } from '../lib/utils';

import '@fontsource/bebas-neue';

interface Props {
  title?: string;
  className?: string;
}

const { title, className } = Astro.props;

const pageTitle = title ? `CoP | ${title}` : 'Code of Power';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Minimal blog by Adrian Gajdulewicz, everything and nothing"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body
    class="grid grid-rows-[auto,1fr,auto] antialiased h-[98dvh] overflow-scroll"
  >
    <Header />
    <main class={cn('w-full sm:w-[36rem] mx-auto pt-8', className)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
